.container {
	height: 100%;
	overflow: auto;

	border-style: none solid;
	border-width: 1px;
}

:global(.markdown-body) {
	all: initial;
	/* Since "markdown-body" is a div, we need to revert some styles here */
	display: block;
	min-width: 200px;
	margin: 0 auto;
	padding: 45px;
}

:global(.markdown-body) * {
	all: revert;
}

@media (max-width: 767px) {
	:global(.markdown-body) {
		padding: 15px;
	}
}
