.container {
	display: flex;
	align-items: center;

	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.aside {
	flex: 0 0 auto;
}

.children {
	flex: 1 1 0px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	padding: 8px 12px;
	font-size: 12px;
	line-height: 16px;
}
