.wrapper {
	margin: -1px -1px 0;
	-webkit-app-region: drag;
}

.container {
	display: flex;
}

.left,
.right {
	flex: 1 1 0px;
	display: flex;
	gap: 16px;
}

.center {
	flex: 0 0 auto;
	width: 300px;
}

.right {
	justify-content: flex-end;
}

.toggle {
	visibility: hidden;
}

.interactive {
	-webkit-app-region: no-drag;
}
