/* Fonts */

.CodeMirror {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
}

/* hack hack hack */
.CodeMirror-dialog input,
.CodeMirror-dialog-bottom > span[style*="font-family: monospace"] {
    font: inherit;
    font-family: inherit !important;
}

/* Layout */

.CodeMirror {
    height: 100%;
    overflow: hidden;
}
.CodeMirror-dialog-bottom {
    border: none;
    padding: 8px 16px;
}
/* Prevent layout lagging when switching from single to several digits */
.CodeMirror-linenumber {
    margin-left: -24px;
    min-width: 48px;
}

.CodeMirror-lines {
    --char-width: calc((1em / 20) * 12.8);
    --char-count-adjusted: calc(var(--line-length) + 2); /* 2 is margin */
    width: 100%;
    max-width: calc(var(--char-width) * var(--char-count-adjusted));
    margin-left: auto;
    margin-right: auto;
    padding: 96px 24px;
}

.CodeMirror-overlayscroll-horizontal {
    height: 16px;
}

.CodeMirror-overlayscroll-vertical {
    width: 16px;
}

.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
    border-radius: 0;
}
