.dark .CodeMirror .CodeMirror-dialog-bottom {
	background-color: var(--gray-7);
	border-top: solid 1px var(--gray-6);
}

/* hack hack super hack */
.dark .CodeMirror .CodeMirror-dialog-bottom span[style*="color: #888"] {
	color: var(--gray-4) !important;
}

/* Selection */
.dark .CodeMirror .CodeMirror-focused .CodeMirror-selected,
.dark .CodeMirror .CodeMirror-selected {
	background-color: var(--gray-5);
}

/* Cursor inside a selection */
.dark .CodeMirror .cm-animate-fat-cursor {
	background-color: var(--gray-4);
}

/* Cursor outside selections */
.dark .CodeMirror.cm-fat-cursor .CodeMirror-cursor {
	background-color: var(--gray-5);
}

/* Insert cursor */
.dark .CodeMirror .CodeMirror-cursor {
	border-left: solid 3px #6366F1;
}

/* Text */
.dark .CodeMirror.cm-s-default .cm-header,
.dark .CodeMirror.cm-s-default .cm-variable-2,
.dark .CodeMirror.cm-s-default .cm-link {
	color: inherit;
}
.dark .CodeMirror.cm-s-default .cm-builtin,
.dark .CodeMirror.cm-s-default .cm-meta,
.dark .CodeMirror.cm-s-default .cm-tag,
.dark .CodeMirror.cm-s-default .cm-attribute,
.dark .CodeMirror.cm-s-default .cm-quote,
.dark .CodeMirror.cm-s-default .cm-variable-3,
.dark .CodeMirror.cm-s-default .cm-type,
.dark .CodeMirror.cm-s-default .cm-string,
.dark .CodeMirror.cm-s-default .cm-comment {
	color: var(--gray-4);
}
.dark .CodeMirror .cm-searching {
	background-color: #fbd38d;
}
.dark .CodeMirror .CodeMirror-activeline-background {
	background: none;
}

/* Gutter */
.dark .CodeMirror .CodeMirror-gutters {
	background: none;
	border: none;
}

/* Gutter line numbers */
.dark .CodeMirror .CodeMirror-linenumber {
	color: var(--gray-4);
}

/* Gutter current line */
.dark .CodeMirror .CodeMirror-activeline .CodeMirror-linenumber {
	color: var(--gray-0);
}
