/* WARNING:
- This file comes from iA Writer's manuscript template.
- Its original name is "typography-iAWriterMonoDuo.css".
- There are the following changes to the original content:
  - Add ".mono-duo" class to scope the styling (replace all)
  - Remove ":lang(x-default)" (replace all)
  - Fix CSS syntax error (redundant parentheses)
  - Replace "html" selector with ".editor"
*/

/* Font Size */

@media print {
    .font-var-mono-duo {
        --font-size: 12px;
    }
}

/* Line Height */

.font-var-mono-duo {
    --line-height-base: 170;
    --line-height-base-viewport-adjustment: 0;
}

@media screen {
    .font-var-mono-duo.font-size-4xs {
        --line-height-base: 180;
    }
    .font-var-mono-duo.font-size-3xs {
        --line-height-base: 179;
    }
    .font-var-mono-duo.font-size-2xs {
        --line-height-base: 179;
    }
    .font-var-mono-duo.font-size-xs {
        --line-height-base: 178;
    }
    .font-var-mono-duo.font-size-s {
        --line-height-base: 177;
    }
    .font-var-mono-duo.font-size-m {
        --line-height-base: 176;
    }
    .font-var-mono-duo.font-size-l {
        --line-height-base: 175;
    }
    .font-var-mono-duo.font-size-xl {
        --line-height-base: 173;
    }
    .font-var-mono-duo.font-size-2xl {
        --line-height-base: 169;
    }
    .font-var-mono-duo.font-size-3xl {
        --line-height-base: 165;
    }
    .font-var-mono-duo.font-size-4xl {
        --line-height-base: 161;
    }
    .font-var-mono-duo.font-size-5xl {
        --line-height-base: 157;
    }
    .font-var-mono-duo.font-size-6xl {
        --line-height-base: 151;
    }
    .font-var-mono-duo.font-size-7xl {
        --line-height-base: 145;
    }
    .font-var-mono-duo.font-size-8xl {
        --line-height-base: 139;
    }
    .font-var-mono-duo.font-size-9xl {
        --line-height-base: 133;
    }
    .font-var-mono-duo.font-size-10xl {
        --line-height-base: 128;
    }
}

@media print {
    .font-var-mono-duo {
        --line-height-base: 170;
    }
}

/* Compact */
@media screen and (max-width: 414px) {
    .font-var-mono-duo {
        --line-height-base-viewport-adjustment: -10;
    }
}

/* Regular */
@media screen and (min-width: 415px) and (max-width: 1250px) {
    .font-var-mono-duo {
        --line-height-base-viewport-adjustment: 0;
    }
}

/* ≥Wide */
@media screen and (min-width: 1251px) {
    .font-var-mono-duo {
        --line-height-base-viewport-adjustment: +10;
    }
}

.font-var-mono-duo {
    --line-height: calc(
        (var(--line-height-base) + var(--line-height-base-viewport-adjustment)) /
            100
    );
    line-height: var(--line-height);
}

/* Spacing */

.font-var-mono-duo {
    --spcg-adjustment: 0;
}
.font-var-mono-duo.font-size-4xs {
    --spcg-adjustment: 22;
}
.font-var-mono-duo.font-size-3xs {
    --spcg-adjustment: 18;
}
.font-var-mono-duo.font-size-2xs {
    --spcg-adjustment: 14;
}
.font-var-mono-duo.font-size-xs {
    --spcg-adjustment: 8;
}
.font-var-mono-duo.font-size-s {
    --spcg-adjustment: 4;
}
.font-var-mono-duo.font-size-m {
    --spcg-adjustment: 2;
}
.font-var-mono-duo.font-size-l {
    --spcg-adjustment: 0;
}
.font-var-mono-duo.font-size-xl {
    --spcg-adjustment: 0;
}
.font-var-mono-duo.font-size-2xl {
    --spcg-adjustment: 0;
}
.font-var-mono-duo.font-size-3xl {
    --spcg-adjustment: -1;
}
.font-var-mono-duo.font-size-4xl {
    --spcg-adjustment: -2;
}
.font-var-mono-duo.font-size-5xl {
    --spcg-adjustment: -3;
}
.font-var-mono-duo.font-size-6xl {
    --spcg-adjustment: -4;
}
.font-var-mono-duo.font-size-7xl {
    --spcg-adjustment: -5;
}
.font-var-mono-duo.font-size-8xl {
    --spcg-adjustment: -6;
}
.font-var-mono-duo.font-size-9xl {
    --spcg-adjustment: -7;
}
.font-var-mono-duo.font-size-10xl {
    --spcg-adjustment: -8;
}

/* Compact */
@media screen and (min-width: 200px) and (max-width: 414px) {
    .font-var-mono-duo {
        --spcg: 10;
    }
}

/* Regular */
@media screen and (min-width: 415px) and (max-width: 1250px) {
    .font-var-mono-duo {
        --spcg: 15;
    }
}

/* ≥Wide */
@media screen and (min-width: 1251px) {
    .font-var-mono-duo {
        --spcg: 20;
    }
}

@media print {
    .font-var-mono-duo {
        --spcg: 20;
    }
}

.font-var-mono-duo {
    font-variation-settings: "SPCG" calc(var(--spcg) + var(--spcg-adjustment));
}

/* Weight */

.font-var-mono-duo {
    --wght: 400;
    --wght-interface-orientation-adjustment: 0;
    --wght-system-adjustment: 0;
    --wght-dark-adjustment: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), print {
    .font-var-mono-duo.ios.interface-orientation-landscape {
        --wght-interface-orientation-adjustment: -50;
    }
    .font-var-mono-duo.mac {
        --wght-system-adjustment: -35;
    }
    .dark-mode .font-var-mono-duo {
        --wght-dark-adjustment: -20;
    }
    .font-var-mono-duo.font-size-4xs {
        --wght: 490;
    }
    .font-var-mono-duo.font-size-3xs {
        --wght: 482;
    }
    .font-var-mono-duo.font-size-2xs {
        --wght: 475;
    }
    .font-var-mono-duo.font-size-xs {
        --wght: 470;
    }
    .font-var-mono-duo.font-size-s {
        --wght: 465;
    }
    .font-var-mono-duo.font-size-m {
        --wght: 460;
    }
    .font-var-mono-duo.font-size-l {
        --wght: 455;
    }
    .font-var-mono-duo.font-size-xl {
        --wght: 450;
    }
    .font-var-mono-duo.font-size-2xl {
        --wght: 445;
    }
    .font-var-mono-duo.font-size-3xl {
        --wght: 440;
    }
    .font-var-mono-duo.font-size-4xl {
        --wght: 435;
    }
    .font-var-mono-duo.font-size-5xl {
        --wght: 430;
    }
    .font-var-mono-duo.font-size-6xl {
        --wght: 420;
    }
    .font-var-mono-duo.font-size-7xl {
        --wght: 420;
    }
    .font-var-mono-duo.font-size-8xl {
        --wght: 420;
    }
    .font-var-mono-duo.font-size-9xl {
        --wght: 420;
    }
    .font-var-mono-duo.font-size-10xl {
        --wght: 420;
    }
}

.font-var-mono-duo {
    font-weight: calc(
        var(--wght) + var(--wght-interface-orientation-adjustment) +
            var(--wght-system-adjustment) + var(--wght-dark-adjustment)
    );
}
