/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

.dark .markdown code,
.dark .markdown pre {
	color: #ccc;
}
.dark .markdown .token.comment,
.dark .markdown .token.block-comment,
.dark .markdown .token.prolog,
.dark .markdown .token.doctype,
.dark .markdown .token.cdata {
	color: #999;
}
.dark .markdown .token.punctuation {
	color: #ccc;
}
.dark .markdown .token.tag,
.dark .markdown .token.attr-name,
.dark .markdown .token.namespace,
.dark .markdown .token.deleted {
	color: #e2777a;
}
.dark .markdown .token.function-name {
	color: #6196cc;
}
.dark .markdown .token.boolean,
.dark .markdown .token.number,
.dark .markdown .token.function {
	color: #f08d49;
}
.dark .markdown .token.property,
.dark .markdown .token.class-name,
.dark .markdown .token.constant,
.dark .markdown .token.symbol {
	color: #f8c555;
}
.dark .markdown .token.selector,
.dark .markdown .token.important,
.dark .markdown .token.atrule,
.dark .markdown .token.keyword,
.dark .markdown .token.builtin {
	color: #cc99cd;
}
.dark .markdown .token.string,
.dark .markdown .token.char,
.dark .markdown .token.attr-value,
.dark .markdown .token.regex,
.dark .markdown .token.variable {
	color: #7ec699;
}
.dark .markdown .token.operator,
.dark .markdown .token.entity,
.dark .markdown .token.url {
	color: #67cdcc;
}
.dark .markdown .token.important,
.dark .markdown .token.bold {
	font-weight: bold;
}
.dark .markdown .token.italic {
	font-style: italic;
}
.dark .markdown .token.entity {
	cursor: help;
}
.dark .markdown .token.inserted {
	color: green;
}
