@import "./var-mono-duo.css";
@import "./var-quattro.css";

@font-face {
	font-family: "iA Writer Mono";
	font-weight: 400 700;
	font-style: normal;
	src: url("./iAWriterMonoV.ttf") format("truetype-variations");
}

@font-face {
	font-family: "iA Writer Mono";
	font-weight: 400 700;
	font-style: italic;
	src: url("./iAWriterMonoV-Italic.ttf") format("truetype-variations");
}

.font-family-mono {
	font-family: "iA Writer Mono", monospace;
}

@font-face {
	font-family: "iA Writer Duo";
	font-weight: 400 700;
	font-style: normal;
	src: url("./iAWriterDuoV.ttf") format("truetype-variations");
}

@font-face {
	font-family: "iA Writer Duo";
	font-weight: 400 700;
	font-style: italic;
	src: url("./iAWriterDuoV-Italic.ttf") format("truetype-variations");
}

.font-family-duo {
	font-family: "iA Writer Duo", monospace;
}

@font-face {
	font-family: "iA Writer Quattro";
	font-weight: 400 700;
	font-style: normal;
	src: url("./iAWriterQuattroV.ttf") format("truetype-variations");
}

@font-face {
	font-family: "iA Writer Quattro";
	font-weight: 400 700;
	font-style: italic;
	src: url("./iAWriterQuattroV-Italic.ttf") format("truetype-variations");
}

.font-family-quattro {
	font-family: "iA Writer Quattro", monospace;
}
