@import "@moai/core/dist/theme/global.scss";

.CodeMirror {
    @include light {
        .CodeMirror-dialog-bottom {
            background-color: var(--light-gray-0);
            border-top: solid 1px var(--light-gray-2);
        }

        /* hack hack super hack */
        .CodeMirror-dialog-bottom span[style*="color: #888"] {
            color: var(--light-gray-4) !important;
        }

        /* Cursor */
        .CodeMirror-focused .CodeMirror-selected,
        .CodeMirror-selected {
            background-color: var(--light-gray-3);
        }
        .cm-animate-fat-cursor {
            background-color: var(--light-gray-4);
        }
        &.cm-fat-cursor .CodeMirror-cursor {
            background-color: var(--light-gray-3);
        }
        .CodeMirror-cursor {
            border-left: solid 3px var(--accent-2);
        }

        /* Text */
        &.cm-s-default {
            .cm-header,
            .cm-variable-2,
            .cm-link {
                color: inherit;
            }
            .cm-builtin,
            .cm-meta,
            .cm-tag,
            .cm-attribute,
            .cm-quote,
            .cm-variable-3,
            .cm-type,
            .cm-string,
            .cm-comment {
                color: var(--light-gray-4);
            }
        }

        .cm-searching {
            background-color: #fbd38d;
        }

        /* Gutter */
        .CodeMirror-activeline-background {
            background: none;
        }
        .CodeMirror-gutters {
            background: none;
            border: none;
        }
        .CodeMirror-linenumber {
            color: var(--light-gray-3);
        }
        .CodeMirror-activeline .CodeMirror-linenumber {
            color: var(--light-gray-5);
        }
    }
}
