.container {
	display: flex;
	align-items: center;
	padding: 0 8px;
	cursor: pointer;
}

.container:not(.x) {
	/* Turn off transition on purpose to make the hover feels faster */
	transition: none;
}

.tab,
.toggle {
	flex: 0 0 auto;
}

.label {
	white-space: nowrap;
}
