.container {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.toolbarToggle {
	position: absolute;
	top: 16px;
	left: 16px;
	/* Larger than .toolbar's z-index */
	z-index: 8;
}

.toolbar {
	flex: 0 0 auto;
	/* Largest z-index of CodeMirror is 6 */
	z-index: 7;
}

.body {
	flex: 1 1 0px;
	overflow: hidden;
	display: flex;
}

.explorer {
	flex: 0 0 auto;
}

/* Visual fix to avoid toolbarToggle button */
.container.woToolbar .explorer {
	padding-top: 32px;
}

.editor {
	flex: 1 1 0px;
	overflow: hidden;
}

.preview {
	flex: 1 1 0px;
	overflow: hidden;
}

.prefs {
	flex: 0 0 auto;
}
