.container {
	height: 100%;
	display: grid;
	grid-template-columns: max-content auto max-content;
	grid-template-rows: max-content auto;
	grid-template-areas:
		"toolbar toolbar toolbar"
		"explorer editor prefs";
	position: relative;
}

.explorer {
	grid-area: explorer;
}

.toolbar {
	grid-area: toolbar;
}

.editor {
	grid-area: editor;
}

.prefs {
	grid-area: prefs;
}

.toolbarToggle {
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 1;
}
