html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

:root:not(.x) {
	--highlight-0: #f5f3ff;
	--highlight-1: #ede9fe;
	--highlight-2: #ddd6fe;
	--highlight-3: #c4b5fd;
	--highlight-4: #a78bfa;
	--highlight-5: #8b5cf6;
	--highlight-6: #7c3aed;
	--highlight-7: #6d28d9;
	--highlight-8: #5b21b6;
	--highlight-9: #4c1d95;

	/* --highlight-0: #eef2ff;
	--highlight-1: #e0e7ff;
	--highlight-2: #c7d2fe;
	--highlight-3: #a5b4fc;
	--highlight-4: #818cf8;
	--highlight-5: #6366f1;
	--highlight-6: #4f46e5;
	--highlight-7: #4338ca;
	--highlight-8: #3730a3;
	--highlight-9: #312e81; */
}
