html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

:root:not(.x) {
	--highlight-0: var(--gray-0);
	--highlight-1: var(--gray-1);
	--highlight-2: var(--gray-2);
	--highlight-3: var(--gray-3);
	--highlight-4: var(--gray-4);
	--highlight-5: var(--gray-5);
	--highlight-6: var(--gray-6);
	--highlight-7: var(--gray-7);
	--highlight-8: var(--gray-8);
	--highlight-9: var(--gray-9);
}
