@import "@moai/core/dist/theme/global.scss";
@import url("https://use.typekit.net/rqe2lxn.css");

.markdown-body.template-serif {
    font-family: vollkorn, serif;
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px;
    @include light {
        color: var(--light-gray-5);
    }
    @include dark {
        color: var(--dark-gray-5);
    }

    pre,
    code {
        font-family: source-code-pro, monospace;
        font-size: 18px;
    }

    blockquote {
        font-style: italic;
        border-left: 2px solid;
        @include light {
            color: var(--light-gray-4);
            border-left-color: var(--light-gray-3);
        }
        @include dark {
            color: var(--dark-gray-4);
            border-left-color: var(--dark-gray-3);
        }
        padding-left: 1em;
        margin-left: -1em;
    }

    pre {
        @include light {
            background-color: var(--light-gray-1);
        }
        @include dark {
            background-color: var(--dark-gray-0);
        }
        padding: 1.5em;
        margin-left: -1.5em;
        margin-right: -1.5em;
    }

    a,
    a:visited {
        @include light {
            color: var(--accent-0);
        }
        @include dark {
            color: var(--accent-3);
        }
    }
}
